{
  "parser": "babel-eslint",
  "extends": [
    "prettier",
    "airbnb"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "globals": {
    "API_ENDPOINT": true
  },
  "rules": {
    "allow-parens": 0,
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/anchor-is-valid": 0
  }
}