.LandingView {
  background-color: #24273c;
  height: 100vh;
  z-index: -1;
}

.public-landing {
  padding: 5vh 5%;
}

.landing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-header-info,
.login-signup {
  display: flex;
  justify-content: space-around;
  font-family: Muli;
  font-size: 17px;
  color: white;
}

.landing-header-info {
  width: 650px;
}

.login-signup {
  width: 200px;
}

#landing-header-logo {
  width: 80px;
  margin-right: 20pxpx;
  -webkit-animation: rotation 2s;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.landing-container {
  display: flex;
  justify-content: space-between;
}

.landing-paragraph {
  margin-top: 140px;
  max-width: 500px;
  /* float: left; */
}

.landing-paragraph-header {
  font-family: Muli;
  font-size: 46px;
  color: white;
}

.landing-paragraph-text {
  margin: 50px 0;
  font-family: Muli;
  font-size: 18px;
  color: white;
}

.landing-snapshot {
  background-color: white;
  height: 580px;
  width: 600px;
  margin: 100px 100px 0px;
  z-index: 20;
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
  border-radius: 30px;
  overflow: hidden;
}

.background-color {
  z-index: 1;
  margin-top: -700px;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.color-green {
  margin-top: 300px;
  margin-left: -100px;
  height: 100px;
  width: 150%;
  z-index: -1;
  background-color: rgb(138, 246, 181);
  transform: rotate(-22deg);
}

.color-white {
  width: 150%;
  margin-top: -90px;
  transform: rotate(-22deg);
  height: 1000px;
  background-color: white;
}
