.subheader-container {
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: #fff;
  border-bottom: 1px solid #d5dee6;
}

.subheader-content {
  padding-top: 16px;
}

.breadcrumb {
  color: #898989;
  float: left;
  margin-right: 16px;
}