.snapshot-side-bar {
  width: auto;
  max-height: 95vh;
  height: auto;
  background-color: #24273c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.sidebar-title {
  color: white;
  font-size: 14px;
  width: 140px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.progress-circle-container {

}

.performance-list-container {
  overflow: hidden;
  border-radius: 4px;
}
