.entry-container {
  max-width: 100%;
  padding: 32px 16px 64px;
  margin: 0 auto;
}

.entry-panel {
  width: 85%;
  padding: 16px;
  background: #fff;
  border: 1px solid #d5dee6;
  border-radius: 4px;
  float: right;
}

.snapshot-container {
  display: inline-block;
  max-width: 600px;
  margin: 50px 0px;
}

.middle {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
