.app-header-container {
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  background: #fff;
  border-bottom: 1px solid #d5dee6;
  z-index: 1000;
}

.app-header {
  display: block;
  width: 100%;
  z-index: 1000;
}

.app-header-workspace {
  margin-top: 8px;
  float: left;
  cursor: pointer;
}

.app-header-workspace-switch {
  margin-left: 8px;
}

.app-header-workspace-name {
  font-size: 1rem;
  font-weight: 600;
}

.app-header-team-name {
  display: block;
  font-size: 0.9rem;
}

.app-header-nav {
  text-align: center;
  font-size: 0.8rem;
}

.app-header-account {
  text-align: right;
}

.dashboard-header-logo {
  overflow: hidden;
}

#dashboard-header-logo {
  width: 60px;
  margin-top: 5px;
  -webkit-animation: rotation 2.5s;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

#dashboard-header-avatar {
  margin-top: 16px;
  width: 38px;
  border-radius: 20px;
}
