.PerformanceListItem {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin: 10px;
}

strong {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 16px;
  border-radius: 8px;
  background-color: #97a0de;
  font-family: Muli;
  font-size: 8px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  margin-right: 55px;
  padding-top: 2px;
}

.performance {
  display: flex;
  align-items: center;
}

p {
  width: 56px;
  height: 15px;
  font-family: Muli;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin: 5px 15px;
  padding-top: 2px;
}

.performance-bar {
  width: 152px;
  height: 10px;
  border-radius: 16px;
  background-color: #313653;
  z-index: -1;
  position: relative;
}

.performance-fill {
  width: 100px;
  height: 10px;
  position: absolute;
  border-radius: 16px;
  background: #6bca65;
  z-index: 20;
}

.performance-value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #97a0de;
  font-family: Muli;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: white;
  margin-left: 4px;
}
