.ProgressCircle {
  padding: 25px;
  display: flex;
  margin: auto;
}

.circle-svg {
  flex: 1;
  margin: auto;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  stroke: #4566d1;
  stroke-linecap: butt;
  stroke-linejoin: butt;
}

.circle-text {
  font-family: Muli;
  font-size: 10px;
  fill: rgb(255, 255, 255);
}

.circle-score {
  font-size: 3em;
  font-weight: bold;
  fill: rgb(255, 255, 255);
}
