
.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  stroke: #4566d1;
  stroke-linecap: butt;
  stroke-linejoin: butt;
}

.circle-text {
  font-size: 3em;
  font-weight: bold;
  fill: red;
}
